body
{
	overflow-x: hidden;
}
.heading
{
    top: 220px;
    left: 200px;
}
.aboutus
{
    top: 100px;
    left: 40px;
}
.shadow
{
    border: 0px solid #ffffff;
    margin: 50px;
    -webkit-box-shadow: 1px 4px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 4px 26px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 4px 26px 0px rgba(0,0,0,0.75);
}
.bg
{
    background: url("lap.jpg");
}
.pro
{
    margin-top: 20px;
}
.mar
{
    margin: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
.cu
{
    align-items: center;
}
.cf
{
	background-image: url('cap1.jpg');
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/  
  background-size: cover;
  height: 475px ;
}
.center {
	margin-top: 90px;
	margin-left: 200px;
  width: 60%;
  padding: 10px;
}
.ch
{
	margin-left: 400px;
}